USE [JobApp]
GO
/****** Object:  Table [dbo].[job_seeker]    Script Date: 10/20/2024 10:53:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[job_seeker](
	[JS_ID] [int] IDENTITY(1,1) NOT NULL,
	[F_name] [varchar](35) NULL,
	[L_name] [varchar](35) NULL,
	[citizenship] [varchar](25) NULL,
	[email] [varchar](30) NULL,
	[addrs_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[JS_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[job_seeker]  WITH CHECK ADD FOREIGN KEY([addrs_ID])
REFERENCES [dbo].[addrs] ([addrs_ID])
GO
