USE [JobApp]
GO
/****** Object:  Table [dbo].[documents]    Script Date: 10/20/2024 10:53:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[documents](
	[doc_ID] [int] IDENTITY(1,1) NOT NULL,
	[doc_upload_date] [datetime] NULL,
	[doc_name] [varchar](50) NULL,
	[doc] [varbinary](max) NULL,
	[employer_ID] [int] NULL,
	[JS_ID] [int] NULL,
	[qual_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[doc_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[documents] ADD  DEFAULT (getdate()) FOR [doc_upload_date]
GO
ALTER TABLE [dbo].[documents]  WITH CHECK ADD FOREIGN KEY([employer_ID])
REFERENCES [dbo].[employer] ([employer_ID])
GO
ALTER TABLE [dbo].[documents]  WITH CHECK ADD FOREIGN KEY([JS_ID])
REFERENCES [dbo].[job_seeker] ([JS_ID])
GO
ALTER TABLE [dbo].[documents]  WITH CHECK ADD FOREIGN KEY([qual_ID])
REFERENCES [dbo].[qualification] ([qual_ID])
GO
