USE [JobApp]
GO
/****** Object:  StoredProcedure [dbo].[GetJobSeekerInfo]    Script Date: 10/20/2024 10:53:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetJobSeekerInfo]
    @JS_ID INT
AS
BEGIN
    SELECT F_name, L_name, citizenship, email
    FROM JobSeekers
    WHERE JS_ID = @JS_ID;
END;
GO
