USE [JobApp]
GO
/****** Object:  Table [dbo].[profile_link]    Script Date: 10/20/2024 10:53:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[profile_link](
	[profile_link_ID] [int] IDENTITY(1,1) NOT NULL,
	[url] [varchar](50) NULL,
	[JS_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[profile_link_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[profile_link]  WITH CHECK ADD FOREIGN KEY([JS_ID])
REFERENCES [dbo].[job_seeker] ([JS_ID])
GO
