USE [JobApp]
GO
/****** Object:  StoredProcedure [dbo].[SubmitJobApplication]    Script Date: 10/20/2024 10:53:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SubmitJobApplication]  
    @JS_ID INT,
    @job_ID INT
    
AS
BEGIN
    -- Check if a record with the given JS_ID and job_ID already exists
    IF NOT EXISTS (
        SELECT 1
        FROM app
        WHERE JS_ID = @JS_ID AND job_ID = @job_ID
    )
    BEGIN
        -- Insert into the app table if the record doesn't exist
        INSERT INTO app (JS_ID, job_ID)
        VALUES (@JS_ID, @job_ID );
    END
END;
GO
