USE [JobApp]
GO
/****** Object:  Table [dbo].[team_member]    Script Date: 10/20/2024 10:53:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[team_member](
	[member_ID] [int] IDENTITY(1,1) NOT NULL,
	[employer_ID] [int] NULL,
	[team_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[member_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[team_member]  WITH CHECK ADD FOREIGN KEY([employer_ID])
REFERENCES [dbo].[employer] ([employer_ID])
GO
ALTER TABLE [dbo].[team_member]  WITH CHECK ADD FOREIGN KEY([team_ID])
REFERENCES [dbo].[team] ([team_ID])
GO
