USE [JobApp]
GO
/****** Object:  Table [dbo].[app]    Script Date: 10/20/2024 10:53:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[app](
	[app_ID] [int] IDENTITY(1,1) NOT NULL,
	[date_of_app] [timestamp] NOT NULL,
	[app_status] [varchar](50) NULL,
	[JS_ID] [int] NULL,
	[job_ID] [int] NULL,
	[doc_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[app_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[app]  WITH CHECK ADD FOREIGN KEY([job_ID])
REFERENCES [dbo].[job_listings] ([job_ID])
GO
ALTER TABLE [dbo].[app]  WITH CHECK ADD FOREIGN KEY([JS_ID])
REFERENCES [dbo].[job_seeker] ([JS_ID])
GO
ALTER TABLE [dbo].[app]  WITH CHECK ADD  CONSTRAINT [FK_documents_docs] FOREIGN KEY([doc_ID])
REFERENCES [dbo].[documents] ([doc_ID])
GO
ALTER TABLE [dbo].[app] CHECK CONSTRAINT [FK_documents_docs]
GO
