USE [JobApp]
GO
/****** Object:  Table [dbo].[employer]    Script Date: 10/20/2024 10:53:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[employer](
	[employer_ID] [int] IDENTITY(1,1) NOT NULL,
	[full_name] [varchar](50) NULL,
	[email] [varchar](50) NULL,
	[phone_num] [varchar](15) NULL,
	[comp_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[employer_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[employer]  WITH CHECK ADD FOREIGN KEY([comp_ID])
REFERENCES [dbo].[company] ([comp_ID])
GO
