USE [JobApp]
GO
/****** Object:  Table [dbo].[app_qual]    Script Date: 10/20/2024 10:53:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[app_qual](
	[app_ID] [int] NOT NULL,
	[qual_ID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[app_ID] ASC,
	[qual_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[app_qual]  WITH CHECK ADD FOREIGN KEY([app_ID])
REFERENCES [dbo].[app] ([app_ID])
GO
ALTER TABLE [dbo].[app_qual]  WITH CHECK ADD FOREIGN KEY([qual_ID])
REFERENCES [dbo].[qualification] ([qual_ID])
GO
