USE [JobApp]
GO
/****** Object:  Table [dbo].[addrs]    Script Date: 10/20/2024 10:53:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[addrs](
	[addrs_ID] [int] IDENTITY(1,1) NOT NULL,
	[street_Addrs] [nvarchar](100) NULL,
	[city] [nvarchar](30) NULL,
	[state_] [nvarchar](20) NULL,
	[country] [nvarchar](20) NULL,
	[zip_code] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[addrs_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
