USE [JobApp]
GO
/****** Object:  StoredProcedure [dbo].[GetApplicantDocuments]    Script Date: 10/20/2024 10:53:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetApplicantDocuments]
    @JS_ID INT
AS
BEGIN
    SELECT doc_ID, doc_name, doc
    FROM documents
    WHERE JS_ID = @JS_ID;
END
GO
