USE [JobApp]
GO
/****** Object:  StoredProcedure [dbo].[GetJobListings]    Script Date: 10/20/2024 10:53:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetJobListings]
AS
BEGIN
    SELECT 
        job_ID,        -- Include job_ID
        title, 
        job_desc, 
        industry, 
        employer_ID
    FROM 
        job_listings
    ORDER BY 
        job_ID;        -- Order the listings by job_ID
END;
GO
