USE [JobApp]
GO
/****** Object:  Table [dbo].[work_exp]    Script Date: 10/20/2024 10:53:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[work_exp](
	[work_exp_ID] [int] IDENTITY(1,1) NOT NULL,
	[job_title] [varchar](25) NULL,
	[comp_name] [varchar](25) NULL,
	[s_date] [date] NULL,
	[e_date] [date] NULL,
	[JS_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[work_exp_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[work_exp]  WITH CHECK ADD FOREIGN KEY([JS_ID])
REFERENCES [dbo].[job_seeker] ([JS_ID])
GO
