USE [JobApp]
GO
/****** Object:  StoredProcedure [dbo].[GetApplicants]    Script Date: 10/20/2024 10:53:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetApplicants]
AS
BEGIN
    -- Select applicant information along with job seeker details
    SELECT 
        a.app_ID, 
		js.JS_ID,
        js.F_name,  -- Job Seeker First Name
        js.L_name,  -- Job Seeker Last Name
        js.citizenship,  -- Job Seeker Citizenship
        js.email  -- Job Seeker Email
    FROM 
        app a
    JOIN 
        job_seeker js ON a.JS_ID = js.JS_ID;
END
GO
