USE [JobApp]
GO
/****** Object:  StoredProcedure [dbo].[UpdateApplicantStatus]    Script Date: 10/20/2024 10:53:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateApplicantStatus]
    @app_ID INT,
    @new_status NVARCHAR(50)
AS
BEGIN
    UPDATE app
    SET app_status = @new_status
    WHERE app_ID = @app_ID;
END
GO
