USE [JobApp]
GO
/****** Object:  StoredProcedure [dbo].[sp_UploadDocument]    Script Date: 10/20/2024 10:53:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_UploadDocument]
    
    @JS_ID INT,                 -- Job seeker ID reference
    @qual_ID INT,               -- Qualification ID reference (optional)
    @doc_name VARCHAR(50),      -- Document name
    @doc VARBINARY(MAX),        -- Document binary content
    @doc_type VARCHAR(50)       -- Document type (e.g., Resume, Certification)
AS
BEGIN
    -- Check if the document with the same name is already uploaded for the same Job Seeker and Employer
    IF EXISTS (
        SELECT 1 
        FROM documents 
        WHERE JS_ID = @JS_ID AND doc_name = @doc_name
    )
    BEGIN
        -- If document already exists, print an error message and exit
        PRINT 'This document has already been uploaded.';
        RETURN;
    END

    -- Insert the document into the 'documents' table if it does not already exist
    INSERT INTO documents ( JS_ID, qual_ID, doc_name, doc)
    VALUES ( @JS_ID, @qual_ID, @doc_name, @doc);

    -- Output a message confirming successful upload
    PRINT 'Document uploaded successfully';
END;
GO
