USE [JobApp]
GO
/****** Object:  Table [dbo].[team]    Script Date: 10/20/2024 10:53:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[team](
	[team_ID] [int] IDENTITY(1,1) NOT NULL,
	[team_name] [varchar](25) NULL,
	[email] [varchar](50) NULL,
	[phone_number] [varchar](15) NULL,
	[comp_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[team_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[team]  WITH CHECK ADD FOREIGN KEY([comp_ID])
REFERENCES [dbo].[company] ([comp_ID])
GO
