USE [JobApp]
GO
/****** Object:  Table [dbo].[job_qual]    Script Date: 10/20/2024 10:53:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[job_qual](
	[job_qual_ID] [int] IDENTITY(1,1) NOT NULL,
	[job_ID] [int] NULL,
	[skill] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[job_qual_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[job_qual]  WITH CHECK ADD FOREIGN KEY([job_ID])
REFERENCES [dbo].[job_listings] ([job_ID])
GO
