USE [JobApp]
GO
/****** Object:  Table [dbo].[degree]    Script Date: 10/20/2024 10:53:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[degree](
	[deg_ID] [int] IDENTITY(1,1) NOT NULL,
	[deg_name] [nvarchar](100) NULL,
	[institution] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[deg_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
