USE [JobApp]
GO
/****** Object:  StoredProcedure [dbo].[sp_CreateJobSeeker]    Script Date: 10/20/2024 10:53:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_CreateJobSeeker]
    @F_name NVARCHAR(100),
    @L_name NVARCHAR(100),
    @citizenship NVARCHAR(50),
    @email NVARCHAR(100),
    @JS_ID INT OUTPUT  -- Output parameter for Job Seeker ID
AS
BEGIN
    -- Check if the job seeker already exists
    SELECT @JS_ID = JS_ID
    FROM job_seeker
    WHERE F_name = @F_name AND L_name = @L_name AND email = @email;

    -- If not found, insert a new job seeker
    IF @JS_ID IS NULL
    BEGIN
        INSERT INTO job_seeker (F_name, L_name, citizenship, email)
        VALUES (@F_name, @L_name, @citizenship, @email);

        -- Get the ID of the newly inserted job seeker
        SET @JS_ID = SCOPE_IDENTITY();
    END
END;
GO
