USE [JobApp]
GO
/****** Object:  Table [dbo].[company]    Script Date: 10/20/2024 10:53:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[company](
	[comp_ID] [int] IDENTITY(1,1) NOT NULL,
	[comp_name] [varchar](25) NULL,
	[comp_address] [varchar](25) NULL,
	[credit_rprt] [varchar](25) NULL,
	[industry] [varchar](50) NULL,
	[addrs_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[comp_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[company]  WITH CHECK ADD FOREIGN KEY([addrs_ID])
REFERENCES [dbo].[addrs] ([addrs_ID])
GO
