USE [JobApp]
GO
/****** Object:  Table [dbo].[job_listings]    Script Date: 10/20/2024 10:53:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[job_listings](
	[job_ID] [int] IDENTITY(1,1) NOT NULL,
	[title] [varchar](25) NULL,
	[job_desc] [text] NULL,
	[industry] [varchar](50) NULL,
	[employer_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[job_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[job_listings]  WITH CHECK ADD FOREIGN KEY([employer_ID])
REFERENCES [dbo].[employer] ([employer_ID])
GO
